# Build artifacts
*.dbmdl
*.jfm
*.pdb
*.log
*.cache
*.bak
*.mdf
*.ldf

# User-specific files
*.suo
*.user
*.vspscc
*.vssscc
*.vsp
*.ncb
*.aps
*.sdf
*.opendb

# SQL Server project files
*.dbproj.user
*.sqlproj.user
*.sqlproj.suo

# VS Code settings
.vscode/

# Packages
packages/
bin/
obj/

# Deployment-related files
*.publish.xml
*.dacpac
*.bacpac

# Temp files
~$*
*.tmp
*.nlog

# Ignore local config files
appsettings.json
appsettings.*.json
secrets.json
.vs/Working-Space-DBMS/FileContentIndex/21466173-392c-47b9-a584-7959b0163cd3.vsidx
.vs/Working-Space-DBMS/FileContentIndex/266db5df-e370-4ba5-8885-c96b7de588f8.vsidx
.vs/Working-Space-DBMS/FileContentIndex/906f19ab-5f90-488f-9654-77b1bff91e51.vsidx
.vs/Working-Space-DBMS/FileContentIndex/d4a2e23f-b7ec-4c94-988b-65dfba227789.vsidx
.vs/Working-Space-DBMS/FileContentIndex/ec756926-01c1-4444-a197-15469fafb717.vsidx
.vs/Working-Space-DBMS/v17/DocumentLayout.backup.json
.vs/Working-Space-DBMS/v17/DocumentLayout.json
Working-Space-DBMS.refactorlog
Working-Space-DBMS.sqlproj
Working-Space-DBMS.sqlproj
Working-Space-DBMS.sqlproj
.vs/Working-Space-DBMS/FileContentIndex/30db1e31-cc40-4a8b-bd50-d61e6e9e31fd.vsidx
.vs/Working-Space-DBMS/FileContentIndex/51fb0d1b-7e5b-4496-bc4c-cb8607b0aead.vsidx
.vs/Working-Space-DBMS/FileContentIndex/579a9164-dc0f-44d3-ab65-1e1fe15c1bc2.vsidx
.vs/Working-Space-DBMS/FileContentIndex/94ed6954-9fc7-447c-8e1a-e56798c8b711.vsidx
.vs/Working-Space-DBMS/FileContentIndex/fc1f4ac7-3cf3-4c32-91df-d467df98e0fe.vsidx
.vs/Working-Space-DBMS/FileContentIndex/8f857960-d09d-4ca6-aade-458f78a94db0.vsidx
.vs/Working-Space-DBMS/FileContentIndex/da1f0531-e4e5-45f7-8254-6c7a0a095e3f.vsidx
.vs/Working-Space-DBMS/FileContentIndex/a5801d15-3918-44ab-a4d0-a85636e0cb82.vsidx
.vs/Working-Space-DBMS/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/Working-Space-DBMS/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
.vs/Working-Space-DBMS/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
.vs/Working-Space-DBMS/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/Working-Space-DBMS/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/Working-Space-DBMS/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/Working-Space-DBMS/FileContentIndex/1881d404-4a2f-43f0-971e-7f5c091d7c68.vsidx
.vs/Working-Space-DBMS/FileContentIndex/2d6c5570-1b9c-4ec3-bec4-3c9824994be6.vsidx
.vs/Working-Space-DBMS/FileContentIndex/9352122d-7a6e-4f63-8a51-f1006f60cfb3.vsidx
.vs/Working-Space-DBMS/FileContentIndex/c00146d4-3f77-4d8b-a03b-8edf9fd10223.vsidx
.vs/Working-Space-DBMS/FileContentIndex/e46f8f7d-c10a-485b-afe4-d0e204c15e35.vsidx
.vs/Working-Space-DBMS/v17/TestStore/0/000.testlog
.vs/Working-Space-DBMS/v17/TestStore/0/testlog.manifest
*.vsidx
