# Build artifacts
*.dbmdl
*.jfm
*.pdb
*.log
*.cache
*.bak
*.mdf
*.ldf

# User-specific files
*.suo
*.user
*.vspscc
*.vssscc
*.vsp
*.ncb
*.aps
*.sdf
*.opendb

# SQL Server project files
*.dbproj.user
*.sqlproj.user
*.sqlproj.suo

# VS Code settings
.vscode/

# Packages
packages/
bin/
obj/

# Deployment-related files
*.publish.xml
*.dacpac
*.bacpac

# Temp files
~$*
*.tmp
*.nlog

# Ignore local config files
appsettings.json
appsettings.*.json
secrets.json
.vs/Working-Space-DBMS/FileContentIndex/21466173-392c-47b9-a584-7959b0163cd3.vsidx
.vs/Working-Space-DBMS/FileContentIndex/266db5df-e370-4ba5-8885-c96b7de588f8.vsidx
.vs/Working-Space-DBMS/FileContentIndex/906f19ab-5f90-488f-9654-77b1bff91e51.vsidx
.vs/Working-Space-DBMS/FileContentIndex/d4a2e23f-b7ec-4c94-988b-65dfba227789.vsidx
.vs/Working-Space-DBMS/FileContentIndex/ec756926-01c1-4444-a197-15469fafb717.vsidx
.vs/Working-Space-DBMS/v17/DocumentLayout.backup.json
.vs/Working-Space-DBMS/v17/DocumentLayout.json
Working-Space-DBMS.refactorlog
Working-Space-DBMS.sqlproj
Working-Space-DBMS.sqlproj
Working-Space-DBMS.sqlproj
